# Generated protobuf code
proto/*.pb.go

# Go build artifacts
bangfs-*
*.exe

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store

# Misc
**/__pycache__
*-bangfs
bangfs_testbang
test_fs_caching_shim.sh
test_fs_simple_wr.sh
